/*
  Aquí van tus estilos o los @import './tus/ficheros'
*/

:root {
  font-size: 16px;
}

.calc {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-content: center;

  .btn {
    font-size: 20px;
  }

  .display {
    grid-column: span 3;
    font-size: 20px;
    text-align: right;
  }
}